body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#page1
{
	display: flex;
	flex-flow: column;
}

	.Accueil:hover 
	{
		box-shadow: inset 0px 4px 0px 0px #5CADD3; 
		color: black;
	}

	.Services:hover 
	{
		box-shadow: inset 0px 4px 0px 0px #5CADD3; 
		color: black;
	}

	.Portfolio:hover 
	{
		box-shadow: inset 0px 4px 0px 0px #5CADD3; 
		color: black;
	}
	
	.Contact:hover 
	{
		box-shadow: inset 0px 4px 0px 0px #5CADD3; 
		color: black;
	}

	header
	{
		top: 0;
		position: fixed;
		z-index: 3;
		background-color: white;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.logo
	{
		padding-top: 1%;
		padding-bottom: 1%;
	}

	nav ul
	{
		display: flex;
		margin-top: 0;
	}

	li a
	{
		display: block;
		text-decoration: none;
		padding-left: 30px;
		padding-right: 30px;
		padding-top:40px;
		color: grey;
	}
	
	li
	{
		list-style: none;
	}

	#section1
	{
		overflow: hidden;
		position: relative;
		margin-top: 90px;
		display: flex;
	    align-items: flex-end;
	}

	#fille
	{
		width: 100%;
	}

	#textecentre
	{
		color: white;
		position: absolute;
		z-index: 2;
		top:30%;
		left: 15%;
	}

	h1
	{
		font-size: 2vw;
		font-weight: 900;
	}

	#vous
	{
		margin-top: -15px;
		font-size: 1vw;
	}

	#ral
	{
		display: table;
	}

	.bloc
	{
		position: absolute;
		display: flex;
		justify-content: center;
		width: 8vw;
		border-radius: 3%;
		box-shadow: 0px 4px 0px 0px #4493B9; 
		background-color: #5CADD3;
		margin-top: 1%;
	}

	#inbloc
	{
		font-weight: 500;
		font-size: 1.2vw;
		margin-block-start: 0.5em;
	    margin-block-end: 0.5em;
	}

	.bleu
	{
		color: #5CADD3;
	}

	#barre
	{
		position: absolute;
		height: 5px;
		width: 100%;	
		background-color: rgba(0,0,0,0.1);
	}

	#barrebleu
	{
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 10%;	
		background-color: #5CADD3;
	}

	.demicercle1
	{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top:50%;
		left: 0;
	    height: 8vh;
	    width: 4vh;
	    background-color: rgba(0,0,0,0.2);
	    border-bottom-right-radius: 8vh;
	    border-top-right-radius: 8vh;
	    transform: translate(0%,-50%);
	}

	.trait1
	{
		height: 10px;
		width: 10px;
		transform: rotate(45deg);
		border-bottom: 2px white solid;
		border-left: 2px white solid;
	}

	.demicercle2
	{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top:50%;
		right: 0;
		z-index: 2;
	    height: 8vh;
	    width: 4vh;
	    background-color: rgba(0,0,0,0.2);
	    border-bottom-left-radius: 8vh;
	    border-top-left-radius: 8vh;
	    transform: translate(0%,-50%);
	}

	.trait2
	{
		height: 10px;
		width: 10px;
		transform: rotate(45deg);
		border-top: 2px white solid;
		border-right: 2px white solid;
	}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#page2
{
	padding-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

	#section2
	{
		display: flex;
		flex-flow: column;
	}

	#services
	{
		display: flex;
		justify-content: center;
	}

	#services2
	{
		text-align: center;
		margin-left: 30%;
		margin-right: 30%;
	}

	.lc
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ligne1
	{
		background-color: rgba(0,0,0,0.1);
		height: 1px;
		width: 4%;
	}

	.ligne2
	{
		background-color: rgba(0,0,0,0.1);
		height: 1px;
		width: 4%;
	}

	.cercle
	{
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: white 4px solid;
		background-color: #5CADD3;
	}

	#section3
	{
		display: flex;
		justify-content: space-around;
		margin-top: 5%;
	}
	
	#ordinateur
	{
		height: 45vh;
		width: 35vw;
	}
	#Lbox
	{
		width: 40%;
		display: flex;
		flex-flow: column;
	}

	.Mbox
	{
		display: flex;
	}

	.Sbox1
	{
		position: relative;
		display: flex;
	    align-items: center;
	}

	.rond
	{
		position: absolute;
	    border-radius: 50%;
	    border: solid white 6px;
	    background-color: #5CADD3;
	    width: 13px;
	    height: 13px;
	    top: 41%;
	    right: -104%;
	}

	.fa-chart-line
	{
		font-size: 30px;
		color: #5CADD3;
	    border-radius: 50%;
	    border: rgba(0,0,0,0.1) solid 2px;
	    padding: 50%;
	}

	.fa-chart-pie
	{
		font-size: 30px;
		color: #5CADD3;
	    border-radius: 50%;
	    border: rgba(0,0,0,0.1) solid 2px;
	    padding: 50%;
	}

	.fa-cubes
	{
		font-size: 30px;
		color: #5CADD3;
	    border-radius: 50%;
	    border: rgba(0,0,0,0.1) solid 2px;
	    padding: 50%;
	}

	.Sbox2
	{
		margin-left: 10%;
	}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#page3color
{
	background-color: #F5F5F5;
}

	#page3
	{
		margin-top: 200px;
		margin-left: 5%;
		margin-right: 5%;
	}

	#section4
	{
		display: flex;
		justify-content: center;
		flex-flow: column;
		text-align: center;
	}

	#pProjet
	{
		text-align: center;
		margin-left: 30%;
	    margin-right: 30%;
	}

	#listProjets
	{
		margin-top: 50px;
		display: flex;
		flex-flow: row;
		justify-content: center;
		padding-left: 0;
		color: #828588;
		font-weight: 500;
	}

	#AllWorks
	{
		color: white;
		position: relative;
		padding: 12px 15px 12px 15px;
		background-color: #5CADD3;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%; 	
		box-shadow: inset 0px -3px 0px 0px #468CAD; 
	}

	#Creative
	{
		padding: 12px 15px 12px 15px;
		background-color: #E5E5E5;
	}

	#Corporate
	{
		padding: 12px 15px 12px 15px;
		background-color: #E5E5E5;
	}

	#Portfolio
	{
		padding: 12px 15px 12px 15px;
		background-color: #E5E5E5;
		border-top-right-radius: 5%;
		border-bottom-right-radius: 5%; 
	}

	#triangle
	{
		position: absolute;
	    width: 0;
	    height: 0;
	    border-top: 8px solid #468CAD;
	    border-left: 8px solid transparent;
	    border-right: 8px solid transparent;
	    bottom: -8px;
	    left: 50%;
	  	transform: translate(-50%, 0%);
	}

	#section5
	{
		padding-right: 5%;
		padding-left:5%;
		display: flex;
		justify-content: center;
		flex-flow: wrap;
	}

	#section5 img
	{
		width: 300px;
		height: 200px;
	}

	#section5 .box
	{
		margin: 1%;
	}

	.box
	{
		position: relative;
	}

	.fa-eye
	{
		display: none;
	}

	h3
	{
		display: none
	}
	h3 + p
	{
		display: none
	}

	.box:hover .desc
	{
		position: absolute;
		width: 100%;
		top: 166px;
		padding: 10px 0 18px 0;
		transform: translate(0, -50%);
		background-color: rgba(0,0,0,0.5);
		color: white;
	}

	.box:hover h3+p
	{
		display: block;
		margin: 0;
		padding-left: 10px;
	}

	.box:hover h3
	{
		display: block;
		margin: 0;
		padding-left: 10px;
	}

	.box:hover .fa-eye
	{
		display: block;
		font-size: 15px;
		color: white;
		position: absolute;
		z-index: 2;
		background-color: #4897B1;
		top: 110px;
		right: 15px;
		border-radius: 50%;
		padding:10px;
		border: white 2px solid;
	}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 450px) 
{

	header
	{
		display: block;
	}
	
	.logo
	{
	    margin-top: 10px;
    	margin-left: 50%;
   		transform: translate(-50%,0%);
	}
	
	nav
	{
		padding-left: 14%;
	}

	li a
	{
		font-size: 3.5vw;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 35px;
	}

	ul
	{
		padding-left: 0%;
	}

	#section1
	{
		margin-top: 150px;
	}
	
	#fille
	{
		height: 200px;
		width: auto;
		margin-left:  -160px;
	}
	
	#textecentre
	{
		top:5%;
		left: 5%;
	}

	h1
	{
		font-size: 4vw;
	}

	#ral2
	{
		display: table;
	}

	#vous
	{
		font-size: 3vw;
		margin-top: 25px;
	}

	.bloc
	{
	    width: 130px;
   	 	box-shadow: 0px 2px 0px 0px #4493B9;
    	margin-top: 35px;
	}

	#inbloc
	{
		font-size: 2.5vw;

	}

	.demicercle1
	{
		height: 6vh;
	    width: 3vh;
	    background-color: rgba(0,0,0,0.1);
	    border-bottom-right-radius: 6vh;
	    border-top-right-radius: 6vh;
	}

	.trait1
	{
		height: 5px;
	    width: 5px;
	    border-bottom: 2px white solid;
	    border-left: 2px white solid;
	}

	.demicercle2
	{ 
		height: 6vh;
	    width: 3vh;
	    background-color: rgba(0,0,0,0.1);
	    border-bottom-left-radius: 6vh;
	    border-top-left-radius: 6vh;
	}

	.trait2
	{
		height: 5px;
	    width: 5px;
	    border-top: 2px white solid;
	    border-right: 2px white solid;
	}

	#barre
	{
		height: 4px;
	}

	#barrebleu
	{
		width: 20%;
	}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	#page2
	{
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
	}
	
	#services
	{
		font-size: 6vw;
	}

	.ligne1
	{
		width: 15%;
	}

	.ligne2
	{
		width: 15%;
	}

	#services2
	{
		font-size: 0.9em;
		text-align: justify;
		margin-left: 5%;
    	margin-right: 5%;
	}

	#section3
	{
    	display: flex;
    	flex-flow: column;
    	margin-top: 5%;
	}
	
	#ordinateur 
	{
    	height: 32vh;
    	width: 90vw;
    }

    #Lbox
    {
    	width: 100%;
    }

    .Sbox2
    {
		margin-left: 20%;
    }

}
